PREVIEW_SITE=https://www.example.com
REPOSITORY=https://github.com/withastro/astro/tree/main/examples/portfolio
BRAND_NAME=example
BRAND_LOGO=/favicon.svg
EMAIL_USER=website
EMAIL_TARGET=info@example.com
RESEND_API_KEY=secret-api-key
CAPTCHA_KEY=secret-captcha-key
