@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '@/../tailwind.config.js';

@theme {
  --color-*: initial;
  --color-base-100: oklch(1 0 0);
  --color-base-200: oklch(0.9157 0 0);
  --color-base-300: oklch(0.8294 0 0);
  --color-base-400: oklch(0.6409 0 0);
  --color-base-500: oklch(0.4464 0 0);
  --color-base-600: oklch(0.3352 0.0079 297.41);
  --color-base-700: oklch(0.2845 0.008 297.33);
  --color-base-800: oklch(0.253 0.0081 297.25);
  --color-base-900: oklch(0.2209 0.0077 297.2);
  --color-orange-100: oklch(0.7076 0.19 39.32);
  --color-orange-200: oklch(0.6833 0.2072 33.21);
  --color-orange-300: oklch(0.6695 0.2183 30.08);
  --color-peach-100: oklch(0.9649 0.018 39.4);
  --color-peach-200: oklch(0.9304 0.0367 39.32);
  --color-aubergine-100: oklch(0.498 0.1488 309.64);
  --color-aubergine-200: oklch(0.4582 0.1366 316.83);
  --color-aubergine-300: oklch(0.418 0.1218 323.21);
  --color-plum-100: oklch(0.3787 0.1073 329.55);
  --color-plum-200: oklch(0.3382 0.0918 334.97);
  --color-error: oklch(0.6296 0.2557 25.81);

  --font-sans: 'Azeret Mono Variable';

  --text-*: initial;
  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
  --text-hero: 4rem;

  --leading-*: initial;
  --leading-sm: 1.125;
  --leading-md: 1.25;
  --leading-lg: 1.333;
  --leading-xl: 1.5;

  --border-3: 3px;

  --shadow-pop-none: 0px 0px 0 0 currentColor;
  --shadow-pop-md: 8px 8px 0 0 currentColor;
  --shadow-pop-lg: 16px 16px 0 0 currentColor;
}

@theme inline {
  --color-background: var(--color-base-100);
  --color-foreground: var(--color-base-900);
  --color-primary: var(--color-orange-100);
  --color-primary-hover: var(--color-orange-200);
  --color-primary-active: var(--color-orange-300);
  --color-primary-foreground: var(--color-base-900);
  --color-accent: var(--color-base-100);
  --color-accent-hover: var(--color-peach-200);
  --color-accent-active: var(--color-peach-300);
  --color-accent-foreground: var(--color-base-900);
  --color-neutral: var(--color-base-900);
  --color-neutral-hover: var(--color-base-700);
  --color-neutral-active: var(--color-base-600);
  --color-neutral-foreground: var(--color-base-100);
  --color-muted: var(--color-peach-100);
  --color-muted-foreground: var(--color-base-900);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    @apply scroll-pt-20 scroll-smooth bg-(--color-background) text-(--color-foreground);
  }

  [data-theme='dark'] {
    --color-background: var(--color-base-900);
    --color-foreground: var(--color-base-100);
    --color-primary: var(--color-aubergine-100);
    --color-primary-hover: var(--color-aubergine-200);
    --color-primary-active: var(--color-aubergine-300);
    --color-primary-foreground: var(--color-base-100);
    --color-accent: var(--color-base-900);
    --color-accent-hover: var(--color-plum-200);
    --color-accent-active: var(--color-plum-300);
    --color-accent-foreground: var(--color-base-100);
    --color-neutral: var(--color-base-100);
    --color-neutral-hover: var(--color-base-200);
    --color-neutral-active: var(--color-base-300);
    --color-neutral-foreground: var(--color-base-900);
    --color-muted: var(--color-base-800);
    --color-muted-foreground: var(--color-base-100);
  }
  [data-icon] {
    @apply inline-block;
  }
  [x-cloak] {
    display: none !important;
  }

  small {
    @apply small;
  }
  mark {
    @apply bg-primary;
  }
}

@utility anchor {
  @apply paragraph-highlight transition hover:text-(--color-primary) focus-visible:text-(--color-primary) focus-visible:outline-3 focus-visible:outline-current focus-visible:outline-dashed;
}
@utility small {
  @apply leading-xl text-sm;
}
@utility paragraph {
  @apply leading-xl text-base;
}
@utility paragraph-highlight {
  @apply leading-xl text-lg font-semibold;
}
@utility heading-6 {
  @apply leading-xl my-1 text-lg font-medium;
}
@utility heading-5 {
  @apply leading-xl my-1 text-xl font-medium;
}
@utility heading-4 {
  @apply leading-md my-2 text-2xl font-medium;
}
@utility heading-3 {
  @apply leading-lg my-4 text-3xl font-medium;
}
@utility heading-2 {
  @apply leading-lg my-6 text-4xl font-semibold;
}
@utility heading-1 {
  @apply leading-md text-hero my-8 font-bold;
}
@utility hero {
  @apply text-hero leading-none font-black;
}

@utility dots {
  --dot-size: 1px;
  --dot-spacing: 48px;

  background-image: radial-gradient(
    circle at var(--dot-size) var(--dot-size),
    --alpha(var(--color-foreground) / 30%) var(--dot-size),
    transparent 0
  );
  background-size: var(--dot-spacing) var(--dot-spacing);
  background-position: 50%;
}
