---
import Icon from './icon.astro';

type Props = { title: string; name?: string };

const { title, name } = Astro.props;
---

<li class='pl-0'>
  <details class='group' {name}>
    <summary
      class='paragraph-highlight after:bg-primary relative flex cursor-pointer list-none border-b-3 p-4 select-none after:absolute after:top-[calc(100%+var(--border-3))] after:right-0 after:left-1 after:h-[var(--border-3)] after:w-full focus-visible:outline-3 focus-visible:outline-current focus-visible:outline-dashed [&::-webkit-details-marker]:hidden'
    >
      <span>{title}</span>
      <Icon
        class='ml-auto min-w-fit self-end transition group-open:rotate-180'
        name='tabler:caret-down'
      />
    </summary>

    <div class='px-4'>
      <slot />
    </div>
  </details>
</li>
