---
import Icon from './icon.astro';

type Props = { title: string };

const { title } = Astro.props;
---

<details class='group'>
  <summary
    class='paragraph-highlight relative flex cursor-pointer select-none list-none border-b-3 p-4 after:absolute after:left-1 after:right-0 after:top-[calc(100%+theme(borderWidth.3))] after:h-[theme(borderWidth.3)] after:w-full after:bg-primary focus-visible:outline-dashed focus-visible:outline-3 focus-visible:outline-current [&::-webkit-details-marker]:hidden'
  >
    <span>{title}</span>
    <Icon
      class='ml-auto min-w-fit self-end transition group-open:rotate-180'
      name='tabler:caret-down'
    />
  </summary>

  <div class='px-4'>
    <slot />
  </div>
</details>