---
import Icon from './icon.astro';

type Props = { title: string; name?: string };

const { title } = Astro.props;
---

<div
  x-data='collapsible'
  x-id='["accordion-item-button", "accordion-item-content"]'
>
  <h3 class='!m-0'>
    <button
      class='group paragraph-highlight after:bg-primary relative flex w-full cursor-pointer gap-4 border-b-3 p-4 text-left after:absolute after:top-[calc(100%+var(--border-3))] after:right-0 after:left-1 after:h-[var(--border-3)] after:w-full focus-visible:outline-3 focus-visible:outline-current focus-visible:outline-dashed'
      type='button'
      x-bind:id='$id("accordion-item-button")'
      x-bind:data-state='state'
      x-bind:aria-expanded='state'
      x-bind:aria-controls='$id("accordion-item-content")'
      x-init='!multiple && $watch("current", (value) => value !== $id("accordion-item-button") && close())'
      @click='() => { current = $id("accordion-item-button"); toggle(); }'
    >
      <span>{title}</span>
      <Icon
        class='ml-auto min-w-fit self-end transition group-data-[state]:rotate-180'
        name='tabler:caret-down'
      />
    </button>
  </h3>

  <section
    role='region'
    x-bind:id='$id("accordion-item-content")'
    x-show='state'
    x-cloak
    x-collapse
    x-bind:aria-labelledby='$id("accordion-item-button")'
  >
    <div class='px-4 pt-4 [&>*]:first:mt-0 [&>*]:last:mb-0'>
      <slot />
    </div>
  </section>
</div>
