---
import { button, type ButtonProps } from './button';

type Props = {
  class?: string;
  href: string;
  title?: string;
  target?: string;
  rel?: string;
  variants?: ButtonProps;
};
const props = Astro.props;
---

<a class={props.class} class:list={[button(props.variants)]} {...props}>
  <slot />
</a>
