---
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/button/button.astro';
import { button } from '@/components/button/button';
---

<Layout title='404 - soren.codes'>
  <section class='flex flex-col justify-center items-center min-h-screen px-4 sm:px-12'>
    <h1
      class='flex flex-col sm:flex-row gap-12 divide-y-4 sm:divide-y-0 sm:divide-x-4 divide-foreground text-4xl text-center'
    >
      <span> 404 </span>
      <span class='pt-12 sm:pt-0 sm:pl-12'> Not Found </span>
    </h1>

    <Button class={button({ shadow: 'pop' })} href="/" title="Back">Go back</Button>
  </section>
</Layout>
