---
import { Icon } from 'astro-icon/components';

import Layout from '@/layouts/layout.astro';
import Button from '@/components/content/button.astro';
import Section from '@/components/content/section.astro';
import Container from '@/components/content/container.astro';
import { createSEOProps } from '@/seo';

const seo = createSEOProps(Astro.url, {
  title: '404',
  openGraph: {
    basic: { title: '404 - Not Found' },
    optional: {
      description:
        'In this case you may not have found what you were looking for. If so be sure to get in touch with me!',
    },
  },
});
---

<Layout {seo}>
  <Section max>
    <Container center>
      <div>
        <h1 class='text-hero text-center'>404 - Not Found</h1>

        <p class='text-center text-lg'>
          In this case you may not have found what you were looking for. If so
          be sure to get in touch with me!
        </p>
      </div>

      <ul class='not-prose flex flex-wrap justify-center gap-4'>
        <li>
          <Button
            href='/'
            title='Back'
            variants={{ intent: 'accent', shadow: 'pop' }}
          >
            <Icon name='tabler:arrow-left' size={24} />
            Go back
          </Button>
        </li>
        <li>
          <Button
            href='/#form'
            title='To the contact form'
            variants={{ shadow: 'pop' }}
          >
            <Icon name='tabler:at' size={24} />
            Say Hello
          </Button>
        </li>
      </ul>
    </Container>
  </Section>
</Layout>
