---
import { Icon } from 'astro-icon/components';

import Layout from '@/layouts/layout.astro';
import { section } from '@/components/section';
import Button from '@/components/ui/button/button.astro';
---

<Layout title='404 - soren.codes'>
  <section class='prose mx-auto max-w-screen-md' class:list={[section()]}>
    <hgroup>
      <h1
        class='flex flex-col justify-center gap-4 divide-y-4 divide-foreground text-center text-hero sm:flex-row sm:gap-12 sm:divide-x-4 sm:divide-y-0'
      >
        <span> 404 </span>
        <span class='pt-4 sm:pl-12 sm:pt-0'> Not Found </span>
      </h1>

      <p class='text-center text-lg'>
        In this case you may not have found what you were looking for. If so be
        sure to get in touch with me!
      </p>
    </hgroup>

    <ul class='not-prose flex flex-wrap justify-center gap-4'>
      <li>
        <Button href='/' title='Back' variants={{ shadow: 'pop' }}>
          <Icon name='tabler:arrow-left' size={24} />
          Go back
        </Button>
      </li>
      <li>
        <Button
          href='/contact'
          title='To the contact information'
          variants={{ intent: 'accent', shadow: 'pop' }}
        >
          <Icon name='tabler:at' size={24} />
          Say Hello
        </Button>
      </li>
    </ul>
  </section>
</Layout>
