---
import { Icon } from 'astro-icon/components';

import { defaultLocale, useTranslation, type LocaleCode } from '@/i18n';
import { createSEOProps } from '@/seo';

import Layout from '@/layouts/layout.astro';
import { Button } from '@/components/content/button';
import { Container } from '@/components/content/container';
import Section from '@/components/content/section.astro';

const locale = Astro.currentLocale as LocaleCode | undefined;
const t = useTranslation(locale ?? defaultLocale);

const seo = createSEOProps(Astro.url, {
  title: '404',
  openGraph: {
    basic: { title: t('404.title') },
    optional: {
      description: t('404.description'),
    },
  },
});
---

<Layout {seo}>
  <Section max>
    <Container center>
      <div>
        <h1 class='text-hero text-center'>{t('404.title')}</h1>

        <p class='text-center text-lg'>
          {t('404.description')}
        </p>
      </div>

      <ul class='not-prose flex flex-wrap justify-center gap-4'>
        <li>
          <Button
            href={`/${Astro.currentLocale}`}
            variants={{ intent: 'accent', shadow: 'pop' }}
          >
            <Icon name='tabler:arrow-left' size={24} />
            {t('404.back')}
          </Button>
        </li>
        <li>
          <Button href='/#form' variants={{ shadow: 'pop' }}>
            <Icon name='tabler:at' size={24} />
            {t('404.contact')}
          </Button>
        </li>
      </ul>
    </Container>
  </Section>
</Layout>
