---
import { Icon } from 'astro-icon/components';

import Layout from '@/layouts/layout.astro';
import { section } from '@/components/section';
---

<Layout
  title='Imprint'
  openGraph={{
    title: 'Imprint',
    description: 'Who is soren.codes? Contact information and more.',
  }}
>
  <section class='prose mx-auto max-w-screen-md' class:list={[section()]}>
    <h1>Imprint</h1>

    <h2>soren.codes <br />Sören Maschmann</h2>
    <p>
      <strong>
        <Icon class='inline-block' name='tabler:sign-right' size={24} /> Teutoburger
        Str. 99
      </strong>
      <br />
      <strong>
        <Icon class='inline-block' name='tabler:map-pin' size={24} /> 33607 Bielefeld,
        Germany
      </strong>
      <br />
      <strong>
        <Icon class='inline-block' name='tabler:mail' size={24} />
        <a href='mailto:work@soren.codes' title='Get in touch'
          >work@soren.codes</a
        >
      </strong>
      <br />
      <strong>
        <Icon class='inline-block' name='tabler:at' size={24} />
        <a href='/contact' title='To the contact information'
          >soren.codes/contact</a
        >
      </strong>
    </p>
    <p>Responsible for content & owner: <br /> Sören Maschmann</p>
  </section>
</Layout>
