---
import Layout from '@/layouts/Layout.astro';
import Contact from '@/components/Contact.astro';
import Stage from '@/components/Stage.astro';
---

<Layout title='soren.codes'>
    <h1 class='sr-only'>Portfolio of soren.codes</h1>

    <Stage />
    <Contact />
</Layout>
