---
import { Icon } from 'astro-icon/components';

import Layout from '../layouts/Layout.astro';
import Stage from '../components/Stage.astro';
---

<Layout title='soren.codes'>
  <header class='mx-auto max-w-screen-xl'>
    <div class='navbar h-20 w-full justify-between px-4'>
      <a
        href='/'
        class='-mx-4 rounded-btn focus-visible:outline-dashed focus-visible:outline-[3px] focus-visible:outline-offset-4 focus-visible:outline-base-300'
      >
        <Icon
          name='logomark_light'
          title='Logomark of soren.codes'
          width={132}
          height={48}
        />
      </a>
    </div>
  </header>

  <main class='mx-auto min-h-[calc(100vh_-_theme(height.20))] max-w-screen-xl'>
    <h1 class='sr-only'>my portfolio</h1>

    <Stage />
  </main>
</Layout>
