---
import { Icon } from 'astro-icon/components';

import Layout from '@/layouts/layout.astro';
---

<Layout title='Privacy - soren.codes'>
  <section class='max-w-screen-md px-4 sm:px-12 py-24 mx-auto'>
    <h1>Privacy Policy</h1>
    <p>
      I'm committed to protecting your personal data and your privacy. This Privacy Policy
      explains how I collect, use, and protect your information when you visit my website,
      in accordance with the General Data Protection Regulation (GDPR).
    </p>

    <hr />

    <section>
      <h2>1. Data controller</h2>
      <p>
        The data controller responsible for the processing of your personal data on this
        website is:
        <br />
        <br />

        <span class='font-bold'> soren.codes | Sören Maschmann </span>
        <br />
        <Icon class='inline-block' name='tabler:sign-right' size={24} /> Teutoburger Str. 99
        <br />
        <Icon class='inline-block' name='tabler:map-pin' size={24} /> 33607 Bielefeld, Germany
        <br />

        <Icon class='inline-block' name='tabler:mail' size={24} />
        <a href='mailto:work@soren.codes' title='Get in touch'>work@soren.codes</a>
        <br />
        <Icon class='inline-block' name='tabler:at' size={24} />
        <a href='/contact' title='To the contact information'>soren.codes/contact</a>
      </p>
      <p>
        If you have any questions about this Privacy Policy or our data processing
        practices, please contact us using the details provided above.
      </p>
    </section>

    <hr />

    <section>
      <h2>2. Personal data collection</h2>
      <p>
        I collect and process personal data only when necessary and for specific purposes.
        The data I collect includes:
        <ul>
          <li>
            <strong>Cookie Data:</strong> Information collected by my cookie management tool,
            Cookiebot, to manage your cookie preferences and to ensure compliance with GDPR.
          </li>
          <li>
            <strong>Contact Information:</strong> When you submit a contact form on my website
            or send an e-mail, I collect the information you choose to provide in the form
            or e-mail.
          </li>
        </ul>
      </p>
    </section>

    <hr />

    <section>
      <h2>3. Purpose of data processing</h2>

      <section>
        <h3>a) Data collected automatically</h3>
        <p>
          When visiting my website, some technical information is collected automatically:
          <ul>
            <li>IP-Adress</li>
            <li>Date and time of access</li>
            <li>Referring URL</li>
            <li>Browser used & operating system</li>
          </ul>
          This data is analyzed anonymously and is used to improve my website as well as security.
        </p>
      </section>

      <section>
        <h3>
          b) Cookies (via
          <a href='https://usercentrics.com/'>Usercentrics Cookiebot CMP</a>)
        </h3>
        <p>
          I use Cookiebot to manage and document your consent for the use of cookies on my
          website. Cookiebot collects information about your IP address, consent status,
          and the time of your consent.
          <br />
          <br />
          The processing of data via Cookiebot is based on your consent (Art. 6(1)(a) GDPR).
        </p>
      </section>

      <section>
        <h3> c) Contact (via e-mail) </h3>
        <p>
          When writing an e-mail to me, your provided information (such as name,
          email and message) will be used to respond to you and provide the
          requested information or assistance.
          <br />
          <br />
          The processing of your data is based on your consent (Art. 6(1)(a) GDPR) and my
          legitimate interest to respond to your inquiries (Art. 6(1)(f) GDPR).
        </p>
      </section>
    </section>

    <hr />

    <section>
      <h2>4. Data sharing and transfer</h2>
      <p>
        Information collected by Cookiebot is used only to manage your consent and ensure
        compliance with privacy regulations.
        <br />
        <br />
        I do not sell, trade, or otherwise transfer your personally identifiable information
        to outside parties, except as required to fulfill legal obligations or to provide the
        services you requested.
      </p>
    </section>

    <hr />

    <section>
      <h2>5. Data retention</h2>
      <p>
        I retain your contact data only as long as necessary to respond to your inquiry
        and in accordance with applicable laws.
        <br />
        <br />
        Your cookie preferences are stored for up to 12 months, after which I will ask for
        your consent again.
      </p>
    </section>

    <hr />

    <section>
      <h2>6. Your rights</h2>
      <p>
        You have the following rights under the GDPR:
        <ul>
          <li>
            <strong>Right to Access:</strong> You can request access to the personal data I
            hold about you.
          </li>
          <li>
            <strong>Right to Rectification:</strong> You have the right to request correction
            of inaccurate or incomplete data.
          </li>
          <li>
            <strong>Right to Erasure:</strong> You can request the deletion of your personal
            data, subject to legal retention requirements.
          </li>
          <li>
            <strong>Right to Object:</strong> You can object to the processing of your data
            for specific purposes.
          </li>
          <li>
            <strong>Right to Data Portability:</strong> You have the right to request your
            data in a structured, commonly used, and machine-readable format.
          </li>
        </ul>
        To exercise any of these rights, please contact us at <a
          href='mailto:work@soren.codes'
          title='Get in touch'>work@soren.codes</a
        >.
      </p>
    </section>

    <hr />

    <section>
      <h2>7. Cookies and tracking technologies</h2>
      <p>
        I use cookies and similar tracking technologies to improve your experience on my
        website. Cookiebot is used to obtain and manage your consent for the use of
        cookies.
      </p>
    </section>

    <hr />

    <section>
      <h2>8. Third-Party services</h2>

      <section>
        <h3>a) Usercentrics Cookiebot CMP</h3>
        <p>
          For details on Cookiebot's data processing practices, see their <a
            href='https://usercentrics.com/privacy-policy/'
            title='Usercentrics Cookiebot CMP privacy policy'>privacy policy</a
          >.
        </p>
      </section>
    </section>

    <section>
      <h2>9. Changes to this privacy policy</h2>
      <p>
        I reserve the right to amend this privacy policy in order to adapt it to changed
        legal situations or in the event of changes to the service or data processing. The
        current version is always available on my website
      </p>
    </section>

    <hr />

    <p>
      If you have any questions or concerns about this privacy policy, please contact me
      at <a href='mailto:work@soren.codes' title='Get in touch'>work@soren.codes</a>.
    </p>
    <strong> Last updated: Nov. 2024 </strong>
  </section>
</Layout>
