---
import { Icon } from 'astro-icon/components';
import Layout from '@/layouts/layout.astro';
import Button from '@/components/button/button.astro';
import { button } from '@/components/button/button';
---

<Layout title='Style - soren.codes'>
  <section class='prose min-h-screen py-16'>
    <hgroup class='px-4 lg:px-12'>
      <h1>Base-Style</h1>
    </hgroup>

    <section class='px-4 lg:px-12'>
      <h2>Text</h2>
      <hr / >

      <h1> Heading 1 </h1>
      <h2> Heading 2 </h2>
      <h3> Heading 3 </h3>
      <h4> Heading 4 </h4>
      <h5> Heading 5 </h5>
      <h6> Heading 6 </h6>
      <p> Paragraph </p>

      <p><strong> Strong </strong></p>
      <p><em> Emphasis </em></p>

      <p>
        Creating a well thought out <a href='#0'>base style</a> for a new website is one of
        the most critical parts to ensure an overall successful project progression.
      </p>
      <p>
        The base style should contain all those basic HTML elements and their variations
        that will be needed within the website. May it be in standard formatted text, or
        within custom styled layout components.
      </p>
      <p>
        The goal is to abstract the element designs just to the right level, so that they
        can be used in any context without further modifications, but to keep them
        flexible enough for custom adjustments when needed, without having to overwrite
        many CSS attributes.
      </p>
      <p>
        The following markup is a best practice starting point to help you focus on what's
        important. It does not include <em>all</em> HTML elements, but as the theme is using
        <code>normalize.css</code>, elements will still be recoginzably styled, only
        without further customization.
      </p>
    </section>

    <section>
      <hgroup class='px-4 lg:px-12'>
        <h2>Button</h2>
        <hr />
      </hgroup>

      <div class='space-y-4'>
        <section class='px-4 lg:px-12'>
          <h3>Primary</h3>

          <ul>
            <li>
              <Button>Test</Button>
              <Button>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ size: 'icon' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ size: 'icon-lg' })}>
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
            <li>
              <Button class={button({ shadow: 'pop' })}>Test</Button>
              <Button class={button({ shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ size: 'icon', shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ size: 'icon-lg', shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
            <li>
              <Button class={button({ kind: 'link' })}>Test</Button>
              <Button class={button({ kind: 'link' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ kind: 'link', size: 'icon' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ kind: 'link', size: 'icon-lg' })}>
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
          </ul>
        </section>

        <section class='px-4 lg:px-12'>
          <h3>Accent</h3>

          <ul>
            <li>
              <Button class={button({ intent: 'accent' })}>Test</Button>
              <Button class={button({ intent: 'accent' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ intent: 'accent', size: 'icon' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ intent: 'accent', size: 'icon-lg' })}>
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
            <li>
              <Button class={button({ intent: 'accent', shadow: 'pop' })}>Test</Button>
              <Button class={button({ intent: 'accent', shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ intent: 'accent', size: 'icon', shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button
                class={button({ intent: 'accent', size: 'icon-lg', shadow: 'pop' })}
              >
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
            <li>
              <Button class={button({ kind: 'link', intent: 'accent' })}>Test</Button>
              <Button class={button({ kind: 'link', intent: 'accent' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ kind: 'link', intent: 'accent', size: 'icon' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ kind: 'link', intent: 'accent', size: 'icon-lg' })}>
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
          </ul>
        </section>

        <section class='prose-invert px-4 sm:px-12 py-1 bg-foreground'>
          <h3 class='text-background'>Neutral</h3>

          <ul>
            <li>
              <Button class={button({ intent: 'neutral' })}>Test</Button>
              <Button class={button({ intent: 'neutral' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ intent: 'neutral', size: 'icon' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ intent: 'neutral', size: 'icon-lg' })}>
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
            <li>
              <Button class={button({ intent: 'neutral', shadow: 'pop' })}>Test</Button>
              <Button class={button({ intent: 'neutral', shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ intent: 'neutral', size: 'icon', shadow: 'pop' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button
                class={button({ intent: 'neutral', size: 'icon-lg', shadow: 'pop' })}
              >
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
            <li>
              <Button class={button({ kind: 'link', intent: 'neutral' })}>Test</Button>
              <Button class={button({ kind: 'link', intent: 'neutral' })}>
                <Icon name='tabler:info-circle' size={24} />
                Test
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button class={button({ kind: 'link', intent: 'neutral', size: 'icon' })}>
                <Icon name='tabler:info-circle' size={24} />
              </Button>
              <Button
                class={button({ kind: 'link', intent: 'neutral', size: 'icon-lg' })}
              >
                <Icon name='tabler:info-circle' size={32} />
              </Button>
            </li>
          </ul>
        </section>
      </div>
    </section>
  </section>
</Layout>
