---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import AvatarImage from '/src/assets/images/avatar.jpg';

import Button from '@/components/button/button.astro';
import { button } from '@/components/button/button';
---

<section
  id='contact'
  class='flex flex-col-reverse lg:grid lg:grid-cols-[3fr,4fr] gap-16 px-4 sm:px-12 py-12 sm:py-24'
>
  <div>
    <span class:list={[button({ shadow: 'pop-lg' }), 'h-32', '!p-0', 'overflow-hidden']}>
      <Image src={AvatarImage} alt='soren avatar' width='256' height='128' />
    </span>
  </div>

  <div class='max-w-screen-sm'>
    <h2 class='mt-0'>Code the Future. Innovate. Together.</h2>

    <p>
      Let's work together to turn innovative ideas into products for the future! To get in
      touch with me and start our journey, choose one of the options below.
    </p>

    <ul class='not-prose flex flex-wrap gap-4 mt-8'>
      <li>
        <Button
          class={button({ shadow: 'pop' })}
          title='Send me an email'
          href='mailto:work@soren.codes'
        >
          <Icon name='tabler:mail' size={24} />
          <span>Mail me</span>
        </Button>
      </li>
      <li>
        <Button
          class={button({ intent: 'accent', size: 'icon', shadow: 'pop' })}
          title='Look at my Ko-fi'
          href='https://ko-fi.com/smaschmann'
          target='_blank'
          rel='noreferrer'
        >
          <Icon name='simple-icons:kofi' size={24} />
          <span class='sr-only'>Ko-fi - soren.codes</span>
        </Button>
      </li>
    </ul>
  </div>
</section>
