---
import { section } from '@/components/section';
import Accordion from '@/components/ui/accordion.astro';

const items = [
  {
    title: 'What do I consider a project?',
    content:
      "A project is born from an idea that wants to be turned into reality. I see a shared understanding of this idea as the basis for implementation. As long as we successfully exchange ideas, I believe that every idea can be implemented. That's why I studied media informatics and have specialized in full-stack web technologies since graduating.",
  },
  {
    title: 'How long will it take to finish the project?',
    content:
      'In agile software development, timelines are flexible and iterative, focusing on delivering value incrementally. Each increment itself should represent the product that can be made available to a user. The total duration of a project depends on the scope and complexity. By inspecting the work done and adepting to issues and changes the timeline can be refined.',
  },
  {
    title: 'What will this project cost?',
    content:
      'First we will start by estimating the work that needs to be done to realize your idea. Overtime the estimation will become more percise based on the accomplished work and our communication: By setting priorities a minimal viable product should be the first goal of our collaboration. Your budget may decide when a project ends.',
  },
];
---

<section class:list={[section()]} id='faq'>
  <div class='mx-auto w-full max-w-screen-sm space-y-8'>
    <hgroup class='prose'>
      <h2>Are you still unsure about our project?</h2>
      <p>
        Whether your curious about my process or how we can work together: You
        will find your answer here.
      </p>
    </hgroup>

    <Accordion {items} name='faq' />
  </div>
</section>
