---
import { Icon } from 'astro-icon/components';

import { defaultLocale, useTranslation, type LocaleCode } from '@/i18n';

import { Button } from '@/components/content/button';

const attributes = {
  title: 'Logomark of soren.codes',
  width: 132,
  height: 48,
};

const t = useTranslation((Astro.currentLocale as LocaleCode) ?? defaultLocale);
---

<Button
  class='-mb-4'
  href={`/${Astro.currentLocale}`}
  variants={{ kind: 'link' }}
>
  <Icon
    name=`logomark_light`
    {...attributes}
    x-show='theme === "light"'
    x-cloak
  />
  <Icon
    name=`logomark_dark`
    {...attributes}
    x-show='theme === "dark"'
    x-cloak
  />
  <span class='sr-only'>{t('logo.href.label')}</span>
</Button>
