---
import { Icon } from 'astro-icon/components';

import Button from '@/components/content/button.astro';

export type Props = {
  theme?: 'light' | 'dark';
};
const { theme = 'light' } = Astro.props;
---

<Button
  class='-mb-4'
  href={`/${Astro.currentLocale}`}
  title='To the frontpage'
  variants={{ kind: 'link' }}
>
  <Icon
    name=`logomark_${theme}`
    title='Logomark of soren.codes'
    width={132}
    height={48}
  />
  <span class='sr-only'>Go to the frontpage</span>
</Button>
