---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Button from '@/components/ui/button/button.astro';
import { section } from '@/components/section';
import { textMedia } from '@/components/text-media';

import AvatarImage from '/src/assets/images/avatar.jpg';
import CoverImage from '/src/assets/images/cover.png';
---

<section id='why' class='relative pb-24' class:list={[section(), textMedia()]}>
  <div class='prose max-w-screen-sm'>
    <hgroup class='space-y-8 heading-2 mb-[1em]'>
      <div
        class='flex min-w-fit flex-col items-start gap-4 lg:flex-row lg:items-center'
      >
        <Button
          class='h-16 w-32 overflow-hidden !p-0'
          href='#contact'
          variants={{ shadow: 'pop' }}
        >
          <Image src={AvatarImage} alt='soren avatar' loading='eager' />
        </Button>
        <h1 class='heading-3 m-0 text-primary'>Hi, I'm Søren.</h1>
      </div>
      <p class='heading-2 text-foreground'>
        Software engineer & digital explorer
      </p>
    </hgroup>

    <p class='paragraph'>
      Transforming visions into reality, one line of code at a time. We can
      shape the future together with innovation, precision, and passion.
    </p>

    <ul class='not-prose flex flex-wrap gap-4'>
      <li>
        <Button
          title='Send me an email'
          href='#contact'
          variants={{ shadow: 'pop' }}
        >
          <Icon name='tabler:at' size={24} />
          <span>Say hello</span>
        </Button>
      </li>
      <li>
        <Button
          title='Look at my GitHub'
          href='https://github.com/dontmash'
          target='_blank'
          rel='noreferrer'
          variants={{ intent: 'accent', size: 'icon', shadow: 'pop' }}
        >
          <Icon name='tabler:brand-github' size={24} />
          <span class='sr-only'>GitHub - soren.codes</span>
        </Button>
      </li>
      <li>
        <Button
          title='Look at my LinkedIn'
          href='https://www.linkedin.com/in/smaschmann'
          target='_blank'
          rel='noreferrer'
          variants={{ intent: 'accent', size: 'icon', shadow: 'pop' }}
        >
          <Icon name='tabler:brand-linkedin' size={24} />
          <span class='sr-only'>LinkedIn - Sören Maschmann</span>
        </Button>
      </li>
    </ul>
  </div>

  <div class="w-fit">
    <Image
      src={CoverImage}
      alt=''
      loading='eager'
      width='480'
      height='480'
    />
  </div>

  <div class='absolute bottom-8 left-1/2 -translate-x-1/2'>
    <Button
      href='#contact'
      title='Contact'
      variants={{ intent: 'accent', size: 'icon' }}
    >
      <Icon name='tabler:chevron-down' size={24} />
      <span class='sr-only'>Go to contact</span>
    </Button>
  </div>
</section>
