---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import avatar from '/src/assets/images/avatar.jpg';

import Shapes from './Shapes.svelte';
---

<section
  id='why'
  class='dots relative mx-auto grid min-h-[calc(100vh_-_theme(height.20))] max-w-screen-xl grid-rows-2 place-items-center gap-16 px-4 pb-24 pt-16 lg:grid-cols-2 lg:grid-rows-none lg:pb-32 lg:pt-16'
>
  <div class='mr-auto max-w-screen-sm space-y-8'>
    <hgroup class='space-y-6'>
      <p class='flex items-center gap-x-4'>
        <span
          class='h-16 overflow-hidden rounded-btn border-3 px-0 shadow-pop transition-all hover:translate-x-2 hover:translate-y-2 hover:shadow-none'
        >
          <Image
            src={avatar}
            alt='soren avatar'
            loading='eager'
            width='120'
            height='64'
          />
        </span>
        <span class='heading-2 text-primary'>Hi, I'm Sören</span>
      </p>
      <h2 class='heading-1'> Software engineer & digital explorer </h2>
    </hgroup>

    <p class='paragraph'>
      Transforming visions into reality, one line of code at a time. Let's build the
      future together with innovation, precision, and passion.
    </p>

    <ul class='flex gap-x-4'>
      <li>
        <a href='#contact' title='Contact' class='btn-pop btn-primary btn gap-x-2'>
          <Icon name='material-symbols:alternate-email' size={24} />
          <span>Say hello</span>
        </a>
      </li>
      <li>
        <a
          href='https://github.com/dontmash'
          target='_blank'
          rel='noreferrer'
          title='soren.codes GitHub'
          class='btn-pop btn btn-circle'
        >
          <Icon name='tabler:brand-github' size={24} />
          <span class='sr-only'>soren.codes GitHub</span>
        </a>
      </li>
      <li>
        <a
          href='https://www.linkedin.com/in/smaschmann'
          target='_blank'
          rel='noreferrer'
          title='Sören Maschmann LinkedIn'
          class='btn-pop btn btn-circle'
        >
          <Icon name='tabler:brand-linkedin' size={24} />
          <span class='sr-only'>Sören Maschmann LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>

  <div class='aspect-square w-full min-w-0 max-w-[30rem]'>
    <Shapes client:idle />
  </div>

  <div class='absolute bottom-4 left-1/2 -translate-x-1/2'>
    <a href='#how' title='Technologies' class='btn btn-circle'>
      <Icon name='material-symbols:keyboard-double-arrow-down-rounded' size={24} />
      <span class='sr-only'>Go to technologies</span>
    </a>
  </div>
</section>
