---
import Image from 'astro/components/Image.astro';
---

<section id='how' class='overflow-hidden border-y-3 bg-accent py-16'>
  <div class='mx-auto max-w-screen-xl space-y-4'>
    <h2 class='heading-3 px-4 text-hover-primary'>How I work</h2>

    <div
      class='scrollbar-hide carousel carousel-center w-full shrink-0 space-x-8 px-4 pb-4 pr-4'
    >
      {
        [{}, {}, {}].map(() => (
          <div class='card image-full h-48 min-w-64 overflow-hidden bg-neutral shadow-pop'>
            <figure>
              <Image
                src='https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg'
                alt='Shoes'
                loading='eager'
                width='256'
                height='192'
              />
            </figure>
            <div class='card-body'>
              <h3 class='heading-2 card-title'>
                How <br /> Label
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
