---
import { Icon } from 'astro-icon/components';

import Button from '@/components/content/button.astro';
import Logo from '@/components/logo.astro';
---

<footer class='bg-foreground text-background py-12' role='contentinfo'>
  <div
    class='mx-auto flex min-h-60 max-w-screen-xl flex-col gap-6 px-4 sm:grid sm:grid-cols-2 sm:grid-rows-1 sm:gap-8 sm:px-12'
  >
    <nav class='flex flex-col items-start gap-6' aria-label='Contact & Socials'>
      <Logo theme='dark' />

      <p class='small w-full max-w-96'>
        Software development is the process of transforming imagination into
        reality.
      </p>

      <ul class='flex flex-wrap gap-2'>
        <li>
          <Button
            title='Send me an email'
            href='mailto:work@soren.codes'
            variants={{ intent: 'neutral', size: 'icon' }}
          >
            <Icon name='tabler:mail' size={24} />
            <span class='sr-only'>Mail me</span>
          </Button>
        </li>
        <li>
          <Button
            title='Look at my Ko-fi'
            href='https://ko-fi.com/smaschmann'
            target='_blank'
            rel='noreferrer'
            variants={{ intent: 'neutral', size: 'icon' }}
          >
            <Icon name='simple-icons:kofi' size={24} />
            <span class='sr-only outline'>Ko-fi - soren.codes</span>
          </Button>
        </li>
        <li>
          <Button
            title='Look at my GitHub'
            href='https://github.com/dontmash'
            target='_blank'
            rel='noreferrer'
            variants={{ intent: 'neutral', size: 'icon' }}
          >
            <Icon name='tabler:brand-github' size={24} />
            <span class='sr-only'>GitHub - soren.codes</span>
          </Button>
        </li>
        <li>
          <Button
            href='https://www.linkedin.com/in/smaschmann'
            title='Look at my LinkedIn'
            target='_blank'
            rel='noreferrer'
            variants={{ intent: 'neutral', size: 'icon' }}
          >
            <Icon name='tabler:brand-linkedin' size={24} />
            <span class='sr-only'>LinkedIn - Sören Maschmann</span>
          </Button>
        </li>
      </ul>

      <span class='small'>©{new Date().getUTCFullYear()} soren.codes</span>
    </nav>

    <nav class='flex flex-col gap-6 sm:text-right' aria-label='Content links'>
      <ul class='flex grow flex-col gap-4'>
        <li>
          <Button
            title='To the contact information'
            href='/contact'
            variants={{ kind: 'link', intent: 'neutral' }}
          >
            Contact
          </Button>
        </li>
        <li>
          <Button
            title='To the imprint'
            href='/imprint'
            variants={{ kind: 'link', intent: 'neutral' }}
          >
            Imprint
          </Button>
        </li>
        <li>
          <Button
            title='To the imprint'
            href='/privacy'
            variants={{ kind: 'link', intent: 'neutral' }}
          >
            Privacy Policy
          </Button>
        </li>
      </ul>

      <small
        >Made with <Icon
          class='text-primary inline align-middle'
          name='tabler:heart'
          size={16}
        /> by me</small
      >
    </nav>

    <div class='flex flex-col items-center sm:col-span-2'>
      <Button
        title='To the top'
        href='#top'
        variants={{ intent: 'neutral', size: 'icon-lg' }}
      >
        <Icon name='tabler:chevron-up' size={32} />
        <span class='sr-only'>Go back to the top</span>
      </Button>
    </div>
  </div>
</footer>
