---
import { Icon } from 'astro-icon/components';

import Button from '@/components/content/button.astro';
import Logo from '@/components/logo.astro';
---

<header class='sticky left-0 top-0 z-50 border-b-3 bg-background' role="banner">
  <nav class='mx-auto flex h-20 max-w-screen-xl items-center px-4 sm:px-12' aria-label="Main">
    <Logo />

    <Button
      class='ml-auto hidden sm:inline-flex'
      title='To the contact information'
      href='/#form'
    >
      <Icon name='tabler:at' size={24} />
      <span>Say hello</span>
    </Button>
  </nav>
</header>
