---
import '@fontsource-variable/azeret-mono';
import '@/styles/global.css';

import { SEO, type SEOProps } from 'astro-seo';

import Analytics from '@/components/page/analytics.astro';
import Footer from '@/components/page/footer.astro';
import Header from '@/components/page/header.astro';
import Motd from '@/components/page/motd.astro';
import Theme from '@/components/page/theme.astro';
import Toolbar from '@/components/page/toolbar.astro';

interface Props {
  seo: SEOProps;
}

// TODO: feat: add blog entries
// TODO: feat: add rss feed
// TODO: feat: add vCard download
// TODO: feat: add seo schema data
// TODO: feat: add projects entries
// TODO: feat: add analytics events
// TODO: feat: add more animations / transitions?
// TODO: feat: add fun bits & pieces / eastereggs
// TODO: feat: add form configurator
// TODO: feat: add video component
// TODO: feat: add youtube embed component
// TODO: chore: add units test?
// TODO: feat: add page search?
---

<!doctype html>
<!--
Handcrafted with Astro, TailwindCSS, AlpineJS & KeystaticCMS.
Managed & hosted on Hetzner in Germany.
Interested to see how it works for you?
https://www.soren.codes#contact
-->
<html lang={Astro.currentLocale} x-data x-bind:data-theme='$store.theme.get()'>
  <head>
    <SEO {...Astro.props.seo} />
    <Theme />
    <Analytics />
    <Motd />
  </head>
  <body id='top'>
    <Header />

    <main
      class='dots prose dark:prose-p:text-base-300 prose-a:anchor prose-hr:border-t-3 prose-img:w-full prose-kbd:bg-(--color-background) prose-kbd:border-3 prose-kbd:border-(--color-foreground) prose-p:text-base-600 prose-h1:heading-1 prose-h2:heading-2 prose-h3:heading-3 prose-h4:heading-4 prose-h5:heading-5 prose-h6:heading-6 mx-auto flex min-h-screen max-w-screen-xl flex-col divide-y-3 xl:border-x-3'
      role='main'
    >
      <slot />
    </main>

    <Toolbar />

    <Footer />
  </body>
</html>
