---
import '@fontsource-variable/azeret-mono';
import '@/styles/base.pcss';

import { SEO, type SEOProps } from 'astro-seo';

import Header from '@/components/page/header.astro';
import Footer from '@/components/page/footer.astro';

interface Props {
  seo: SEOProps;
}
---

<!doctype html>
<html lang='en'>
  <head>
    <SEO {...Astro.props.seo} />
  </head>
  <body id='top'>
    <Header />

    <main
      class='dots prose mx-auto flex min-h-screen max-w-screen-xl flex-col first:prose-headings:mt-0 xl:border-x-3'
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
