---
import '@fontsource-variable/azeret-mono';
import '@/styles/global.css';

import { SEO, type SEOProps } from 'astro-seo';

import Header from '@/components/page/header.astro';
import Footer from '@/components/page/footer.astro';

interface Props {
  seo: SEOProps;
}

// TODO: feat: add i18n
// TODO: feat: add projects entries
// TODO: feat: add blog entries
// TODO: feat: add more animations / transitions?
// TODO: feat: add fun bits & pieces / eastereggs
// TODO: feat: add seo schema data
// TODO: feat: add form configurator
// TODO: feat: add video component
// TODO: feat: add youtube embed component
// TODO: chore: add units test?
// TODO: feat: add page search?
// TODO: chore: add CI/CD release pipeline
// TODO: chore: add analytics
---

<!doctype html>
<html lang='en'>
  <head>
    <SEO {...Astro.props.seo} />
  </head>
  <body id='top'>
    <Header />

    <main
      class='dots prose mx-auto flex min-h-screen max-w-screen-xl flex-col xl:border-x-3'
      role='main'
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
