---
import '@fontsource-variable/azeret-mono';
import '@/styles/base.pcss';

import { SEO } from 'astro-seo';

import { createSEOProps, type SEOProps } from '@/seo';
import Header from '@/components/page/header.astro';
import Footer from '@/components/page/footer.astro';

interface Props {
  seo: SEOProps;
}

const seoProps = createSEOProps(Astro.url, Astro.props.seo);
---

<!doctype html>
<html lang='en'>
  <head>
    <SEO {...seoProps} />
  </head>
  <body id='top'>
    <Header />

    <main
      class='dots prose mx-auto flex min-h-screen max-w-screen-xl flex-col first:prose-headings:mt-0 xl:border-x-3'
    >
      <slot />
    </main>

    <Footer />
  </body>
</html>
